<div class="attribution" style="font-size: 11px; text-align: center; margin-bottom: 20px;">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank" style="color: hsl(228, 45%, 44%);">Frontend Mentor</a>. 
    Coded by <a href="https://www.frontendmentor.io/profile/Marpace" style="color: hsl(228, 45%, 44%);">Pablo Almonacid</a>.
  </div>