<article class="compose js-compose-comment ">
    <img src="images/avatars/image-juliusomo.png" alt="">
    <form action="/compose-comment" method="post" id="js-add-comment">
        <input type="hidden" name="timeStamp" id="js-time-stamp" value="">
        <textarea name="content" class="compose-content js-compose-content" cols="30" rows="3" placeholder="Add a comment..."></textarea>
        <button type="submit">SEND</button>
    </form>
</article>