<article class="compose compose-reply js-compose-reply">
    <img src="images/avatars/image-juliusomo.png" alt="">
    <form action="/compose-reply" method="POST">
        <input type="hidden" name="replyingTo" id="replyingTo" value="">
        <input type="hidden" name="commentId" value="<%-commentId%>">
        <textarea name="content" class="compose-content js-compose-content" cols="30" rows="3" placeholder=""></textarea>
        <button type="submit">REPLY</button>
    </form>
</article>