p, h1, h2, h3, button, textarea {
    font-family: 'Rubik', sans-serif;
}
h2 {
    color: $dark_blue;
    font-size: 15px;
}
p {
    color: $greyish_blue;
    font-size: 16px;
    line-height: 1.5;
}
.red-colored{
    color: $soft_red;
}