.replies {
    width: 100%;
    max-width: 700px;
    @include flex_centered(column);
    align-items: flex-end;
    
    
    .reply {
        position: relative;
        min-height: 150px;
        width: 95%;
        max-width: 600px;
        padding: 20px 15px 70px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: $white;
        z-index: 10;
        display: none;
        @include responsive($tablet){
            padding: 20px 40px 20px 100px;
            align-self: center;
            transform: translateX(50px);
        }

    
    
        &__author {
            @include flex_centered(row);
            justify-content: flex-start;
            gap: 10px;
            margin-bottom: 15px;
    
            .reply__img {
                width: 32px;
            }
            .tag {
                padding: 1px 7px;
                background-color: $moderate_blue;
                border-radius: 3px;
    
                p {
                    color: $white;
                    font-size: 14px;
                }
            }
        }
        &__score {
            display: flex;
            position: absolute;
            bottom: 15px;
            @include responsive($tablet){
                flex-direction: column;
                left: 20px;
                top: 20px;
            }
    
            p {
                background-color: $very_light_grey;
                @include flex_centered(row);
                font-weight: 700;
                color: $moderate_blue;
            }
            button {
                @include flex_centered(row);
                border: none;
                padding: 13px;
                background-color: $very_light_grey;
                cursor: pointer;

                svg {
                    fill: #C5C6EF;
                }
            }
            button:hover svg{
                fill: $moderate_blue;
            }
            button:first-child {
                border-radius: 5px 0 0 5px;
                @include responsive($tablet){
                    border-radius: 5px 5px 0 0;
                }
            }
            button:last-child {
                border-radius: 0 5px 5px 0;
                @include responsive($tablet){
                    border-radius: 0 0 5px 5px;
                }
            }
        }
        &__delete {
            @include flex_centered(row);
            gap: 7px;
            position: absolute;
            bottom: 20px;
            right: 95px;
            height: 20px;
            cursor: pointer;
            @include responsive($tablet){
                top: 25px;
                right: 105px;
            }
            svg {
                fill: $soft_red;
            }
            p {
                font-weight: 700;
                color: $soft_red;
            }
        }
        &__delete:hover svg {
            fill: $pale_red;
        }
        &__delete:hover p {
            color: $pale_red;
        }
        &__reply {
            @include flex_centered(row);
            gap: 7px;
            position: absolute;
            bottom: 20px;
            right: 15px;
            height: 20px;
            cursor: pointer;
            @include responsive($tablet){
                top: 25px;
                right: 20px;
            }
           .reply-icon {
               fill: $moderate_blue;
           }
            .edit-icon {
                fill: $moderate_blue;
            }
            .cancel-icon {
                fill: $soft_red;
            }
            p {
                font-weight: 700;
            }
            .reply-text {
                color: $moderate_blue;
            }
            .edit-text {
                color: $moderate_blue;
            }
            .cancel-text {
                color: $soft_red;
            }
        }
        &__reply:hover .reply-icon {
            fill: #C5C6EF;
        }
        &__reply:hover .reply-text {
            color: #C5C6EF;
        }
        &__reply:hover .edit-icon {
            fill: #C5C6EF;
        }
        &__reply:hover .edit-text {
            color: #C5C6EF;
        }
        &__reply:hover .cancel-icon {
            fill: $pale_red;
        }
        &__reply:hover .cancel-text {
            color: $pale_red;
        }
        &__content {
            p{
                display: inline;
            }
            p:first-child {
                color: $moderate_blue;
                font-weight: 600;
            }
        }
    }
    .reply::before, .compose-reply::before {
        content: "";
        position: absolute;
        left: -5%;
        bottom: 0;
        height: 115%;
        border: 1px solid $light_grey;
        @include responsive($tablet){
            left: -7%;
        }
    }
    .reply:first-child::before {
        height: 99%;
    }
    .edit-form{
        @include flex_centered(column);
        gap: 20px;
        width: 100%;
        align-items: flex-end;

        .compose-content {
            width: 100%;
            border: 1px solid $light_grey;
            padding: 15px 20px;
            border-radius: 7px;
            font-size: 16px;
            font-family: "Rubik", sans-serif;
            color: $greyish_blue;
            resize: none;
        }
        .compose-content:focus {
            outline: 1px solid $moderate_blue;
        }
        button {
            padding: 15px 31px;
            font-size: 17px;
            font-weight: 500;
            align-self: flex-end;
            font-family: "Rubik", sans-serif;
            border-radius: 7px;
            border: none;
            background-color: $moderate_blue;
            color: $white;
            cursor: pointer;
            transition: .2s;
            

        }
        button:hover {
            background-color: $light_greyish_blue;
        }
    }
    .compose-reply {
        width: 95%;
        max-width: 600px;
    }


}
